#violet {
    background-color: violet;
}

#indigo {
    background-color: indigo;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

#yellow {
    background-color: yellow;
}

#orange {
    background-color: orange;
}

#red {
    background-color: red;
}

.colors {
    height: 100px;
    width: 400px;
}

#container {
    height: 700px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* flex-wrap: wrap; */
}

#container div {
    height: 150px;
    width: 400px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}
/* Align Content */
#container{
    align-content:space-evenly;
}
/* Align Self */
/* #indigo{
    align-self:center; */

/* Flex Sizing */
/* Flex Basis */
/*#orange{
    flex-basis: 400px;
}
#red{
    flex-basis: 50px;
}
/* Flex Grow */
/*#violet{
    flex-grow: 2;
    max-width: 350px;
    min-width: 300px;
}
#blue{
    flex-grow: 1.5;
}*/
/* Shrink */
#green{
    flex-shrink: 2;
}
#yellow{
    flex-shrink: 1;
}
#indigo{
    flex-shrink: 1.5;
}